SMSWebService/Connected Services/WSSms/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceSMS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceSMS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametroSMS">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Destinatario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remitente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParametroSMS" nillable="true" type="tns:ParametroSMS" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeOK" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
</xs:schema>